@model CRUD.Models.Pessoa

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

 <div>
    @Html.ActionLink("voltar", "Index")
</div>


@using (Html.BeginForm("List", "Pessoa"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome)
                @Html.ValidationMessageFor(model => model.Nome)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Pesquisar" class="btn btn-success" />
            </div>
        </div>
    </div>
}   